*{
    outline: none !important
}


.contactbtn{
    height: 70px;
    width: 70px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    margin: auto auto;
    border-radius: 35px;
    background-color: white;
    display: inline-block;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.contactbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.contactimg{
    height: 30px;
    width: 30px;
    margin: auto auto;
}

.modal{
    text-align: center;
}

.modalimg{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: auto auto;
}

.modaltext{
    margin: 20px auto 0;
    font-size: 32px;
}

.modalundertext{
    margin: 10px;
    font-size: 20px;
}

.modaltable{
    margin: 0 auto;
}

.modalbtn{
    margin: 10px auto;
    width: 200px;
    height: 40px;
    font-size: 22px;
    background-color: white;
    border-radius: 20px;
    color: black;
    transition-duration: 0.6s;
    border: 2px solid black;
}


.modalbtn:hover {
    background-color: black;
    color: white;
}

.modaltddiv{
    display: flex;
}

.modaltdimg{
    margin: 8px 10px;
}

.modaltdtext{
    margin: 5px 10px;
}

