#nav-bar
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
}

.spacer {
    margin-top: 0;
    width: 100%;
    height: 65px;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}

.navbar-light .navbar-brand {
    color: rgba(60, 52, 241, 0.9);
}
.navbar-light .navbar-brand:hover {
    color: rgba(60, 52, 241, 0.9);
}

.navbar-brand {
    margin-left: 40px;
    font-size: 30px;
    font-family: "Times New Roman", Georgia, serif;
    font-weight: bold;
    text-decoration-color: #007bff;
    text-shadow:
            2px 2px 2px silver,
            -2px 2px 2px silver;
    color: white;
    transition: all .5s;
}

.navbar-brand:hover {
    text-shadow:
            -2px -2px 2px silver,
            2px -2px 2px silver;
    color: white;
}

.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    text-decoration: none;
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}